.banner {
  width: 100%;
  position: relative;
  border-radius: 25px;
  background-color: black;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 75%;
  z-index: 0;
}

.banner h2 {
  color: #ffffff;
  font-size: 48px;
  position: relative;
  z-index: 1;
}
