.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail .collapse {
  width: 49%;
}

@media (max-width: 1270px) {
  .detail {
    flex-direction: column;
    gap: 20px;
  }
  .detail .collapse {
    width: 100%;
  }
}
