.information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ff6060;
}

.information_left,
.information_right {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.information_left {
  gap: 10px;
}
.information_left h1 {
  font-weight: 500;
  margin: 0px;
  font-size: 36px;
}
.information_left span {
  font-size: 18px;
}

.information_right {
  align-items: end;
  gap: 24px;
}

@media (max-width: 1270px) {
  .information {
    flex-direction: column;
    justify-content: none;
    gap: 10px;
  }
  .information_left h1 {
    font-size: 18px;
  }
  .information_left span {
    font-size: 14px;
  }
  .information_right {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
