.slideshow {
  height: 415px;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.slideshow .control {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.slideshow .control img {
  cursor: pointer;
}

.slideshow .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  z-index: 0;
}

@media (max-width: 1270px) {
  .slideshow {
    height: 335px;
    border-radius: 10px;
  }
  .slideshow .control img {
    width: 24px;
  }
  .slideshow .slide {
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .slideshow .control img {
    width: 12px;
  }
}
